[package]
name = "reducer"
version = "2.0.0"
edition = "2018"
authors = ["Bruno Dutra <brunocodutra@gmail.com>"]
description= "A predictable reactive framework for Rust apps"
repository = "https://github.com/brunocodutra/reducer.git"
license = "MIT"
readme = "README.md"
keywords = ["redux", "flux", "reactive", "state"]
categories = ["asynchronous", "gui"]
autoexamples = false

[package.metadata.docs.rs]
all-features = true

[workspace]
members = ["examples/"]

[features]
default = ["alloc", "async"]
alloc = []
std = ["alloc"]
async = ["std", "futures", "pin-project"]

[badges]
codecov = { repository = "brunocodutra/reducer" }

[dependencies]
futures = { version = "0.3.1", optional = true }
pin-project = { version = "0.4.6", optional = true }

[dev-dependencies]
criterion = "0.3.0"
lazy_static = "1.4.0"
mockall = "0.6.0"
proptest = "0.9.4"

[dev-dependencies.futures]
version = "0.3.1"
features = ["thread-pool"]

[[bench]]
name = "async"
harness = false
required-features = ["async"]

[lib]
bench = false
